<form action="" method="" style="display: inline;">
  <label for="url-input">Enter a URL:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="{{url.url}}" aria-label="Your website URL"
      aria-describedby="button-addon" id="url-input" name="url" disabled readonly>
    <button class="btn btn-outline-dark" type="button" id="button-addon" disabled>Convert</button>
  </div>
</form>

<form action="" method="" style="display: inline;">
  <label for="url-result" style="color: rgb(13, 101, 178);">SUCCESS! Please use this link:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" value="{{url.url_shortened}}" aria-label="Shortened URL"
      aria-describedby="button-addon" id="url-result">
    <button class="btn btn-outline-secondary" type="button" id="button-addon">Copy</button>
  </div>
</form>