<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Input your website URL here" aria-label="Your website URL"
    aria-describedby="button-addon">
  <button class="btn btn-outline-secondary" type="button" id="button-addon">Convert</button>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Shortened URL" aria-label="Shortened URL"
    aria-describedby="button-addon">
  <button class="btn btn-outline-secondary" type="button" id="button-addon">Copy</button>
</div>